<nav class="navbar navbar-expand-lg navbar-dark bg-success mb-4">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/dashboard">
      💊 ByteBrigade Pharmacy
    </a>

    <div class="collapse navbar-collapse show">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/medicines">Medicines</a>
        </li>

        <ng-container *ngIf="auth.isLoggedIn() && !auth.isAdmin()">
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/orders">My Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/loyalty">Loyalty</a>
          </li>
        </ng-container>

        <ng-container *ngIf="auth.isAdmin()">
          <li class="nav-item">
            <a class="nav-link" routerLink="/add-medicine">Add Medicine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin-orders">All Orders</a>
          </li>
        </ng-container>
      </ul>

      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="auth.isLoggedIn(); else loginLinks">
          <li class="nav-item">
            <span class="nav-link">
              Hi, <b>{{ auth.getUsername() }}</b>
              <span class="badge bg-light text-dark ms-1">{{ auth.getRole() }}</span>
            </span>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-light btn-sm ms-2" (click)="logout()">Logout</button>
          </li>
        </ng-container>
        <ng-template #loginLinks>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
